.header-brand-title {
  margin: auto 0;
  font-size: 20px;
  display: flex !important;
}

.hotel-name {
  float: left;
}

.rating-wrapper {
  display: initial;

  .star-ratings {
    top: -10px;
    margin-left: 5px;
  }
}

.header {
  &__login-block {
    align-self: center;
    text-align: right;
  }

  &__login-link, &__signup-link {
    color: white;
    margin-right: 30px;
    font-size: 18px;

    &:hover, &:active, &:focus {
      color: white;
      text-decoration: none;
      opacity: 0.6;
    }
  }

}