.showcase {
  .text-white {
    text-align: center;
  }

  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    // min-height: 30rem;
    // background-size: cover;

    max-width: 500px;
    height: 450px;
    padding: 0;
    margin-top: 50px;
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }

  // @media (min-width: 992px) {
  //   .showcase-img {
  //     padding: 0 3rem 0 0;
  //   }
  // }

  // @media (min-width: 1200px) {
  //   .showcase-img {
  //     padding: 0 7rem 0 0;
  //   }
  // }
}
