.page-main {
    background: #F5F7FB;
}
.suggestion-form--group {
    margin-left: 1rem;
  }
  
  .suggestion-form__container {
    display: contents;
  }
    
  .suggestion-results__without-search-button {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    list-style: none;
    z-index: 4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    max-height: calc(100vh - 60px);
    overflow: auto;
    margin-left: 13px;
    margin-right: 83px;
  
    &__help-text {
      margin-left: 5px;
    }
  
    &__item {
      z-index: 10;
      display: block;
      color: #34394c;
      align-items: center;
      padding: 8px 24px 8px 10px;
      cursor: pointer;
      font-size: 18px;
      position: relative;
  
      &--active {
        background: #ececec;
      }
    }
  }
  
  .suggestion-results {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    list-style: none;
    z-index: 4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    max-height: calc(100vh - 60px);
    overflow: auto;
    margin-left: 13px;
    margin-right: 81px;
  
    &__help-text {
      margin-left: 5px;
    }
  
    &__item {
      z-index: 10;
      display: block;
      color: #34394c;
      align-items: center;
      padding: 8px 24px 8px 10px;
      cursor: pointer;
      font-size: 18px;
      position: relative;
  
      &--active {
        background: #ececec;
      }
    }
  }
  
  .suggestion-input {
    &__loader_container {
      position: absolute;
      right: 75px;
      top: calc(50% - 10px);
      z-index: 99999;
    }
  
    &__loader {
      height: 30px;
      width: 30px;
  
      &::before, &::after {
        width: 30px;
        height: 30px;
      }
    }
  
    &__btn-search-input {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      margin-top: 17px;
      margin-left: 6px;
      font-size: 17px;
  
      &:focus, &:hover {
        text-decoration: underline;
        outline: none;
      }
    }
  }
  
  .suggestion__input {
    border-radius: 4px !important;
  }