.comparison {    
    &__title {
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            line-height: 40px;
            color: #000000;
        }
    }