@import 'tabler';
@import 'header.scss';
@import "page.scss";
@import "suggestion-form.scss";

.map-card {
  margin-bottom: 0px;
}

.gallery-card {
  a {
    margin-bottom: 0px !important;
  }
}

.gallery-grid-col {
  height: 312px;
}

.seo-snippet-for-graph {
  margin-left: 5rem;
}

.view-on-agoda {
  text-align: right;
}

.page-subheader {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 1.5rem;
  flex-wrap: wrap;
}

.map-card {
  margin-bottom: 0px;
}
